@media screen and (min-width: 0px) and (max-width: 1200px){
    #ubicacion{
        display: none;
    }
    
}
@media screen and (min-width:700px) and (max-width: 991px) {
    .descripcion{
        width: 700px;
        height: auto;
    }
    
}
@media screen and (min-width:1300px ) and (max-width: 2200px) {
    #cajaderecha{
        height: auto;
        width: 100%;
    }
    .descripcion{
        margin-left: 5rem;
    }
    .compra{
        margin-left: 5rem;
    }
}

@media screen and (min-width: 370px) and (max-width:767px) {
    #cajaderecha {
        margin-left: 25px;
    }
    
}

@media screen and (min-width:0px) and (max-width: 750px) {
    .footerlogo{
        display: none;
    }  
}
@media screen and (min-width: 100px) and (max-width: 950px)  {
    #carrito{
        display: none;
    }
    
 }
 @media screen and (min-width: 913px) and (max-width: 2000px) {
    #listacarrito{
        display: none;
    }
    
 } 
@media screen and (min-width: 800px) and (max-width:3500px) {
    #carouselExample{
        display: none;
    }
    
}

@media screen  and (min-width:0px) and (max-width: 800px) {
    .test{
        display: none;
    }
    .compra{
        margin: 15px;
    }
    
}
@media screen and (min-width:300px) and (max-width: 390px) {
    .descripcion{
        margin-right: 50px;

    }
    .compra{
        margin: 0px;
    }
    
}
@media screen and (min-width:0px) and (max-width: 280px) {
    .descripcion{
        margin-right: 115px;
    }
    .compra{
        margin: 0px;
    }
    
}
header{
    background-color: #504436;
}
.logo{
    border-radius: 50%;
}
.footerlogo{
    border-radius: 50%;
}
main{
    background-color: rgb(231, 227, 201);
}
#cajaderecha{
    height: auto;
    width: 23rem;
}
footer{
    background-color: #504436;
}
#test{
    width: auto;
    height: 90px;
    background-color: rgb(231, 227, 201);
    text-align: center;
    position: sticky;
    z-index: 1;
    top: 0px;
}
h1{
    margin: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#caja{
    border: solid black;
}

